input {
file {
    path => "C:\Users\rain5\Desktop\realdemo\input\peo.cvs"
    start_position => "beginning"
	sincedb_path => "/dev/nul"
  }
	kafka {
		bootstrap_servers => "localhost:9092"
		auto_offset_reset => "smallest"
		topics => ["realtime"]
	}
}
filter {
	grok {
		match => { "message" => "%{IP:ip_address} %{USER:identity} %{USER:auth} \[%{HTTPDATE:req_ts}\] \"%{Word:http_vert} %{URIPATHPARAM:req_path}\ %{INT:http_status:int} &{INT:num_bytes:int}}
	}
	cvs {
		separator => ","
		columns => ["Name", "Age"]
		
	}
}
output {
	elasticsearch {
		jpsts => "localhost"
		user => "elastic"
		password => "123456"
		index => "realtime"
		document_type => "realtimedemodoc"
	}
	stdout {}
}