input {
	stdin {
		codec => json
		type => "stdin"
		  }
	http {
		host => "127.0.0.1"
		port => 8080
		type => "http"
	}
	kafka {
		bootstrap_servers => "localhost:9092"
		topics => ["first_topic", "twitter_tweets"]
		codec => json
		type => "kakfa"
	}
}
filter {
	mutate {
		convert => {"age" => "integer"}
		remove_field => [ "DOB"]
	}
	useragent {
		source => "agent"
		target => "ua"
	}
	date {
		match => ["timestamp", "dd/MM/yyyy:HH:ss Z"]
		remove_field => ["timestamp"]
	}
	geoip {
		source => "clientip"
	}
}
output {
	elasticsearch {
  		hosts => ["localhost:9200"]
  		index => "%{type}"
  		document_type => "default"
  		http_compression => true
  }
  stdout {
  	codec => rubydebug
  }
  file {
  	path => "C:\Users\rain5\Desktop\realdemo\logstash-output\%{type}_%{yyyy_MM_dd}-output.txt"
  }
}