input {
  kafka {
    bootstrap_servers => "localhost:9092"
    topics => ["suicide", "stdin"]
    type   => "suicide"
  }
  stdin {
    type => "stdin"
  }
}

filter {
  csv {
    separator => ","
    columns => ["country","year","sex","age",
    "suicides_no","population","suicides/100k pop",
    "country-year","HDI for year", "gdp_for_year ($)",
    "gdp_per_capita ($)","generation"]
  }
  mutate {convert => ["year","integer"]}
  mutate {convert => ["suicides_no","integer"]}
  mutate {convert => ["population","integer"]}
  mutate {convert => ["suicides/100k pop","float"]}
  mutate {convert => ["gdp_for_year ($)","integer"]}
  mutate {convert => ["gdp_per_capita ($)","integer"]}
}

output {
  elasticsearch {
    hosts => ["localhost:9200"]
    index => "%{type}"
    document_type => default
    http_compression => true
  }
  stdout {
    codec => rubydebug
  }
}
